{% extends 'base.html' %}
{% block content-header %}
	{% include 'content-header-template.html' %}
{% endblock %}
{% block content-body %}
	<div class="row bg-white m-b-10">
		{% include 'convocatorias/title_convocatoria_puesto.html' %}
	</div>
	<div class="row">
		<div class="card">
			<div class="card-body">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{message.tags}}" role="alert">
							{{message}}
						</div>
					{% endfor %}
				{% endif %}
				<form method="POST" class="form-horizontal" action="" >
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group is-empty">
								<div class="col-sm-12"><label class="control-label">{{form.tipo_documento.label}}</label></div>
								<div class="col-sm-12">
									{{form.tipo_documento}}
									<span class="text-red" >{{form.tipo_documento.errors}}</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group is-empty">
								<div class="col-sm-12"><label class="control-label">{{form.detalle_documento.label}}</label></div>
								<div class="col-sm-12">
									{{form.detalle_documento}}
									<span class="text-red" >{{form.detalle_documento.errors}}</span>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group is-empty">
								<div class="col-sm-3">{{form.indispensable}}</div>
								<div class="col-sm-9"><label for="{{form.indispensable.id_for_label}}" class="control-label">{{form.indispensable.label}}</label></div>
								<span class="text-red" >{{form.indispensable.errors}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group text-center">
							<button type="submit" class="btn btn-info btn-round">guardar</button>
							{% if form.instance.id %}
								<a class="btn btn-danger btn-round" href="/convocatorias/puesto/{{convocatoria_puesto.uuid}}/documentos/add/">cancelar</a>
							{% endif %}
						</div>
					</div>
				</form>
				<div class="card-body p-0 border-top">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Tipo</th>
									<th>Detalle</th>
									<th>Indispensable</th>
									<th>Opción</th>
								</tr>
							</thead>
							<tbody>
								{% for documento in convocatoria_puesto.peq_int_convocatoria_documentos_set.all|dictsortreversed:'fecha_creacion' %}
									<tr>
										<th scope="row">{{forloop.counter}}</th>
										<td>{{documento.tipo_documento.descripcion|upper}}</td>
										<td>{{documento.detalle_documento.descripcion|upper}}</td>
										<td>{% if documento.indispensable %} SI {% else %} NO {% endif %}</td>
										<td>
											<a href="/convocatorias/puesto/{{convocatoria_puesto.uuid}}/documentos/edit/{{documento.pk}}/" class="btn btn-success btn-sm btn-round" >
												<span data-toggle="tooltip" data-placement="top" title="editar" ><i class="zmdi zmdi-edit"></i></span>
											</a>
											<a href="/convocatorias/puesto/{{convocatoria_puesto.uuid}}/documentos/delete/{{documento.pk}}/" class="btn btn-danger btn-sm btn-round" >
												<span data-toggle="tooltip" data-placement="top" title="eliminar" ><i class="zmdi zmdi-delete"></i></span>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}