{% extends 'base.html' %}
{% block content-header %}
	{% include 'content-header-template.html' %}
{% endblock %}
{% block content-body %}
	<div class="row bg-white m-b-10">
		{% include 'personas/title_persona.html' %}
	</div>
	<div class="row bg-white">
		<div class="col-sm-4">
			<div class="col-sm-12">
				<label for=""><strong>Tipo</strong></label>
			</div>
			<div class="col-sm-12"><span>{{documento_persona.tipo.descripcion}}</span></div>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-12">
				<label for=""><strong>Documento</strong></label>
			</div>
			<div class="col-sm-12"><a href="{{documento_persona.documento.url}}" target="_blank" class="btn btn-flat btn-warning m-0 p-0" ><i class="zmdi zmdi-eye" ></i> ver</a></div>
		</div>
	</div>
	<div class="row bg-white">
		<form method="POST" class="form-horizontal" action="" >
			{% csrf_token %}
			<div class="row text-center">
				<div class="col-sm-12">
					<h5 class="text-uppercase" ><strong>deseas eliminar el registro ?</strong></h5>
				</div>
				<div class="col-sm-12">
					<button type="submit" class="btn btn-round btn-success" >si</button>
					<a href="/personas/{{persona.uuid}}/documentos/add/" class="btn btn-round btn-danger" >no</a>
				</div>
			</div>
		</form>
	</div>
{% endblock %}