{% extends 'base.html' %}
{% block content-header %}
	{% include 'content-header-template.html' %}
{% endblock %}
{% block content-body %}
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<h1>AGREGAR DNI</h1>
					<form id="form-add-bloqueado" method="POST" class="form-horizontal" action="" >
						{% csrf_token %}
						<input type="hidden" name="tipo" value="add_numero_documento" >
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group is-empty">
									<div class="col-sm-12"><label class="control-label">{{form.numero_documento.label}}</label></div>
									<div class="col-sm-12">
										{{form.numero_documento}}
										<span class="text-red" >{{form.numero_documento.errors}}</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group text-center col-sm-12">
									<button type="submit" class="btn btn-info btn-round">guardar</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<h3 class="{{messages.class_message_form_one}}" >{{messages.message_form_one}}</h3>
								</div>
							</div>
						</div>
					</form>
				</div>
				{% if bloqueados %}
					<div class="row">
						<div class="modal fade" id="basic_modal" tabindex="-1" role="dialog" aria-labelledby="basic_modal">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel-2">Bloqueados</h4>
										<ul class="card-actions icons right-top">
											<li>
												<a href="javascript:void(0)" data-dismiss="modal" class="text-white" aria-label="Close">
													<i class="zmdi zmdi-close"></i>
												</a>
											</li>
										</ul>
									</div>
									<div class="modal-body">
										<div class="table-responsive">
											<table class="table table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th>Nro Documento</th>
														<th>Nombres</th>
														<th>Apellidos</th>
													</tr>
												</thead>
												<tbody>
													{% for bloqueado in bloqueados %}
														<tr>
															<th scope="row">{{ forloop.counter }}</th>
															<td>{{bloqueado.numero_documento}}</td>
															<td>{{bloqueado.nombres}}</td>
															<td>{{bloqueado.apellidos}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<h1>SUBIR NUEVA LISTA DE BLOQUEO</h1>
					<form id="form-add-bloqueado-file" method="POST" enctype="multipart/form-data" action="" >
						{% csrf_token %}
						<input type="hidden" name="tipo" value="add_file_documentos" >
						<div class="row">
							<div class="col-sm-4 col-sm-offset-1">
								<div class="form-group is-empty">
									<div class="input-group">
										<input name="file_excel" required="" type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control" placeholder="Seleccionar archivo...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-info btn-fab btn-fab-sm">
													<i class="zmdi zmdi-attachment-alt"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group text-center col-sm-12">
									<button type="submit" class="btn btn-info btn-round">Ejecutar lista</button>
								</div>
							</div>
							<div class="col-sm-3 m-t-20">
								{% if bloqueados %}
									<a class="btn btn-primary btn-flat" data-toggle="modal" data-target="#basic_modal"><i class="zmdi zmdi-eye"></i>ver lista de bloqueados recientemente</a>
								{% endif %}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}