.normal__select {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid grey;
	width: 100%;
	height: 35px;
}
.select__year {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid grey;
	width: 30%;
	height: 35px;
}
.link__autocomplete {
	background: transparent;
	color: #42a5f5 !important;
	text-transform: uppercase;
	font-size: 13px;
}
.link__autocomplete:hover {
	background: rgba(66,165,245,.1);
}
.errorlist {
	color: red;
}