{% extends 'base.html' %}
{% block content-header %}
	{% include 'content-header-template.html' %}
{% endblock %}
{% block content-body %}
	<div class="row bg-white m-b-10">
		{% include "convocatorias/title_convocatoria.html" with convocatoria=convocatoria %}
	</div>
	<div class="row">
		<div class="card">
			<div class="card-body">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{message.tags}}" role="alert">
							{{message}} <a href="/convocatorias/{{convocatoria.uuid}}/puestos/" class="alert-link" >Ir a puestos</a>
						</div>
					{% endfor %}
				{% endif %}
				<form method="POST" class="form-horizontal" action="" >
					{% csrf_token %}
					<div class="row text-center">
						<div class="col-sm-12">
							<h5 class="text-uppercase" >deseas eliminar la convocatoria ?</h5>
						</div>
						<div class="col-sm-12">
							<button type="submit" class="btn btn-round btn-info" >si</button>
							<a href="/convocatorias/{{convocatoria.uuid}}/puestos/" class="btn btn-round btn-danger" >no</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}