{% extends 'base.html' %}
{% block content-header %}{% endblock %}
{% block content-body %}
	<div class="row">
		<h1>{{title}}</h1>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<h1>Convocatoria : {{convocatoria_puesto.convocatoria.nombre}}</h1>
		</div>
		{% include "convocatorias/collapse/informacion_convocatoria.html" with convocatoria=convocatoria_puesto.convocatoria %}
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h1>Puesto: {{convocatoria_puesto.rango.descripcion|lower}} {{convocatoria_puesto.sub_especialidad.descripcion|lower}} / {{convocatoria_puesto.familia_puesto.descripcion|lower}} {{convocatoria_puesto.especialidad.descripcion|lower}}</h1>
		</div>
		{% include "convocatorias/collapse/informacion_convocatoria_puesto.html" with convocatoria_puesto=convocatoria_puesto %}
	</div>
	<div class="row">
		<!-- modal-dialog detail -->
		<div class="modal fade in" id="modal__view_detail" tabindex="-1" role="dialog" aria-labelledby="modal__view_detail">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel-2">Informacion</h4>
						<ul class="card-actions icons right-top">
							<li>
								<a href="javascript:void(0)" data-dismiss="modal" class="text-white" aria-label="Close">
									<i class="zmdi zmdi-close"></i>
								</a>
							</li>
						</ul>
					</div>
					<div id="modal-body" class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
					</div>
				</div>
			</div>
		</div>
		<!-- modal-dialog detail -->
		<!-- modal-dialog observaciones -->
		<div class="modal fade" id="modal__add_observaciones" tabindex="-1" role="dialog" aria-labelledby="modal__add_observaciones">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel-2">Agregar observaciones</h4>
						<ul class="card-actions icons right-top">
							<li>
								<a href="javascript:void(0)" data-dismiss="modal" class="text-white" aria-label="Close">
									<i class="zmdi zmdi-close"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="modal-body">
						<form id="form-add-observacion" >
							<div class="form-group label-floating is-empty">
								<label for="descripcion_observacion" class="control-label">Descripción</label>
								<textarea id="descripcion_observacion" class="form-control" rows="3" ></textarea>
							</div>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-round btn-success" >agregar</button>
							</div>
						</form>
						<div id="list_observaciones" class="row border-top"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- modal-dialog observaciones -->
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-3">
				<button type="button" id="aprobar_preseleccionados" data-convocatoria="{{convocatoria_puesto.uuid}}" class="btn btn-round btn-info" ><i class="zmdi zmdi-check" ></i> ejecutar autorización</button>
			</div>
			<div class="col-sm-3">
				<div id="message__aprobar"></div>
			</div>
		</div>
		{% for preseleccionado in personas %}
			<div id="{{preseleccionado.pk}}" class="row m-t-10 p-b-5 border-top border-bottom">
				<div class="col-sm-1 text-right p-0">
					<div class="checkbox checkbox-aprobar">
                      <label>
                        <input type="checkbox" data-id="{{preseleccionado.pk}}">
                        Aprobar
                      </label>
                    </div>
					<img src="https://s3.amazonaws.com/limagas/dashboard/user.jpg" alt="demo" class="img-circle" style="height: 50px;" >
				</div>
				<div class="col-sm-3">
					<div class="col-sm-12">
						{{preseleccionado.persona.nombres}} {{preseleccionado.persona.apellidos}}
					</div>
					<div class="col-sm-12">
						{{preseleccionado.persona.celular}} / {{preseleccionado.persona.celular_dos}}
					</div>
					<div class="col-sm-12">
						{{preseleccionado.persona.email}}
					</div>
				</div>
				<div class="col-sm-3">
					<div class="col-sm-12">
						{{preseleccionado.experiencia.empresa.descripcion}}
					</div>
					<div class="col-sm-12">
						{{preseleccionado.persona.get_genero_display}}
					</div>
					<div class="col-sm-12">
						{{preseleccionado.persona.get_estado_civil_display}}
					</div>
				</div>
				<div class="col-sm-2">
					{% if preseleccionado.experiencia %}
						<div class="col-sm-12">{{preseleccionado.experiencia.puesto.descripcion}}</div>
						<div class="col-sm-12">{{preseleccionado.experiencia.familia_puesto.descripcion}}</div>
						<div class="col-sm-12">{{preseleccionado.experiencia.fecha_inicio|timesince:preseleccionado.experiencia.fecha_fin }}</div>
					{% endif %}
				</div>
				<div class="col-sm-2">
					<div class="col-sm-12">
						<div class="checkbox">
						  <label>
							<input type="checkbox" data-id="{{preseleccionado.id}}">
							llamado
						  </label>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="checkbox">
						  <label>
							<input type="checkbox" data-id="{{preseleccionado.postulacion}}" class="quiero_participar" {% if preseleccionado.confirmado %} checked {% endif %} >
							confirmado
						  </label>
						</div>
					</div>
					<div class="col-sm-12">
						<a href="#" class="add_observacion_postulacion" data-id="{{preseleccionado.postulacion}}" data-toggle="modal" data-target="#modal__add_observaciones">observaciones</a>
					</div>
				</div>
				<div class="col-sm-1">
					<button type="button" class="btn btn-info btn-sm btn-round btn-view-detail" data-persona="{{preseleccionado.persona.uuid}}" data-toggle="modal" data-target="#modal__view_detail" >
						<span data-toggle="tooltip" data-placement="top" title="ver detalle" ><i class="zmdi zmdi-eye"></i></span>
					</button>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

