{% extends 'base_publico.html' %}
{% load static %}
{% block content %}
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center"><h3 class="text-info text-uppercase" >{{title}}</h3></div>
				<div class="col-sm-12 text-center"><h5 class="text-info text-lowercase" >{{preseleccionados|length}} hasta el día {% if fecha %} {{fecha|date:'d'}} de {{fecha|date:'F Y'}} {% endif %}</h5></div>
			</div>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nº Documento</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellidos</th>
						</tr>
					</thead>
					<tbody>
						{% for preseleccionado in preseleccionados %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{preseleccionado.postulacion.persona.numero_documento}}</td>
								<td>{{preseleccionado.postulacion.persona.nombres}}</td>
								<td>{{preseleccionado.postulacion.persona.apellidos}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>	
{% endblock content %}