{% extends 'base.html' %}
{% block content-header %}
	{% include 'content-header-template.html' %}
{% endblock %}
{% block content-body %}
	{% include "messages.html" %}
	<div class="row bg-white">
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Tipo</strong></label>
				</div>
				<div class="col-sm-8">
					<span>{{atencion.tipo.descripcion|upper}}</span>
					{% if atencion.capacitacion %}
						<br>
						<span>
							<strong>Nombre: </strong> 
							{{atencion.capacitacion.descripcion}}
						</span>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Nº Documento</strong></label>
				</div>
				<div class="col-sm-8"><span>{{atencion.persona.numero_documento}}</span></div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Nombres</strong></label>
				</div>
				<div class="col-sm-8"><span>{{atencion.persona.nombres|upper}}</span></div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Apellidos</strong></label>
				</div>
				<div class="col-sm-8"><span>{{atencion.persona.apellidos|upper}}</span></div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Inicio</strong></label>
				</div>
				<div class="col-sm-8"><span>{{atencion.hora_inicio}}</span></div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Fin</strong></label>
				</div>
				<div class="col-sm-8"><span>{{atencion.hora_fin}}</span></div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4">
					<label for=""><strong>Observaciones</strong></label>
				</div>
				<div class="col-sm-8"><span>{{atencion.observaciones|default:''}}</span></div>
			</div>
		</div>
	</div>
	<div class="row bg-white">
		<form method="POST" class="form-horizontal" action="" >
			{% csrf_token %}
			<div class="row text-center">
				<div class="col-sm-12">
					<h5 class="text-uppercase" ><strong>deseas eliminar el registro ?</strong></h5>
				</div>
				<div class="col-sm-12">
					<button type="submit" class="btn btn-round btn-success" >si</button>
					<a href="/atenciones/" class="btn btn-round btn-danger" >no</a>
				</div>
			</div>
		</form>
	</div>
{% endblock %}